@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(../css/custom-icons.css);
/*mixins*/
/*mixins END*/
html {
  height: 100%;
}
body {
  background: #FFF !important;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
a {
  outline: none !important;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*=================================== old styles ==============================================*/
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
header {
  background-color: #eeeeef;
  position: fixed;
  height: 64px;
  width: 100%;
  z-index: 999;
  top: 0;
  transition: top 0.5s ease-in-out;
}
header .logo {
  margin: 0px 00px 0;
  position: absolute;
}
header.out {
  top: -64px;
}
header .headerProfile {
  margin: 11px;
}
header .headerProfile .displayName {
  font-size: 13px;
  color: black;
  font-weight: 600;
  padding: 0 5px;
}
header .headerProfile img {
  overflow: hidden;
  border-radius: 2px;
}
header .topNav {
  width: 700px;
  margin-left: 340px;
}
header .topNav .navItem {
  display: inline-block;
  padding: 15px;
  font-size: 17px;
}
#appCanvas {
  padding-top: 64px;
  /*COMMON APPS ITEMS*/
}
#appCanvas #chatView {
  padding-top: 20px;
}
#appCanvas #chatView #chatWrapper {
  position: relative;
  margin-left: 320px;
  width: 700px;
}
#appCanvas #chatView #chatWrapper.preloading {
  /*background:url('../img/preloader.gif') no-repeat center bottom;*/
  padding-bottom: 80px;
  margin-bottom: 20px;
  box-shadow: none;
}
#appCanvas #chatView #chatWrapper .contactWrapper {
  border-top: 1px solid #dcdfde;
  background-color: white;
}
#appCanvas #chatView #chatWrapper .contactWrapper:first-child {
  border-top: none;
}
#appCanvas #chatView #chatWrapper .contactWrapper.preloading {
  background: url(../img/contactPreloading.png) no-repeat center top white;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard {
  padding: 12px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .btn {
  font-size: 12px;
  font-weight: 500;
  padding: 4px 10px;
  margin-top: 0;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .connectedBT {
  margin: 0;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .imgWrapper {
  float: left;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .senderImg.vipImg {
  background-color: #AAA;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .infoWrapper {
  float: left;
  width: 290px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .infoWrapper .head {
  color: #999;
  font-weight: 400;
  font-size: 15px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .infoWrapper .head .contactTitle {
  font-size: 17px;
  color: black;
  display: inline-block;
  padding-right: 10px;
  font-weight: 500;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .infoWrapper .head .about {
  color: black;
  margin: 10px 0 5px;
  display: block;
  font-size: 16px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .infoWrapper .body {
  color: #000;
  font-weight: 400;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .infoWrapper .body .title {
  font-weight: 400;
  color: #999;
  margin-top: 1px;
  font-size: 13px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .infoWrapper .body .network {
  margin-top: 7px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .infoWrapper .body .network .senderImg {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .infoWrapper .body .more_vips {
  color: #999;
  line-height: 28px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown {
  background-color: #0c5ba3;
  vertical-align: middle;
  margin-right: 7px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown.color-blue {
  background-color: #0c5ba3;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown.color-deeppurple {
  background-color: #212142;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown.color-green {
  background-color: #0aa33d;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown.color-orange {
  background-color: #e56005;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown.color-pink {
  background-color: #d65479;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown.color-purple {
  background-color: #2c3e50;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown.color-red {
  background-color: #d32f2f;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown.color-teal {
  background-color: #03b09e;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown.color-lightblue {
  background-color: #127ccc;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown.color-deepred {
  background-color: #a81111;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard .crown.color-yellow {
  background-color: #dda800;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard.profile .imgWrapper {
  float: none;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard.profile .imgWrapper .senderImg {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard.profile .infoWrapper {
  float: none;
  clear: both;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard.profile .infoWrapper .head {
  font-size: 17px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .contactCard.profile .infoWrapper .head .contactTitle {
  font-size: 19px;
  margin-top: 10px;
}
#appCanvas #chatView #chatWrapper .contactWrapper .tabs {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
#appCanvas #chatView #chatWrapper .contactWrapper .tabs .tab {
  border-right: 1px solid #e6e6e6;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  padding: 0;
}
#appCanvas #chatView #chatWrapper .contactWrapper .tabs .tab:last-child {
  border-right: none;
}
#appCanvas #chatView #chatWrapper .contactWrapper .tabs .tab a {
  padding: 10px;
  display: block;
  color: #939393;
}
#appCanvas #chatView #chatWrapper .contactWrapper .tabs .tab a:hover {
  background: #EFEFEF;
  text-decoration: none;
}
#appCanvas #chatView #chatWrapper .contactWrapper.profile3 .tabs .tab.selected a {
  color: #e56005;
}
#appCanvas #chatView #navigation {
  position: fixed;
  top: 64px;
  width: 320px;
  height: 100%;
  padding-top: 20px;
  background-color: #535459;
}
#appCanvas #chatView #navigation .btn {
  margin-top: 0;
}
#appCanvas #chatView #navigation .labelItem {
  display: block;
  min-width: 168px;
  color: black;
  font-size: 15px;
  margin: 1px 0;
  padding: 7px;
  text-indent: 10px;
  text-align: left;
  border-radius: 4px;
  opacity: 0;
  transition: opacity .3s ease,color .3s ease;
  text-decoration: none;
  text-transform: initial;
  font-weight: 500;
  color: #999;
  background: url(../img/label_icons.png) no-repeat 3px 100px;
}
#appCanvas #chatView #navigation .labelItem:hover {
  color: white;
}
#appCanvas #chatView #navigation .labelItem.show {
  opacity: 1;
}
#appCanvas #chatView #navigation .labelItem.selected {
  color: white;
  font-weight: 600;
}
#appCanvas #chatView #searchWrapper {
  position: fixed;
  top: 64px;
  width: 230px;
  left: 50%;
  margin-top: 20px;
  margin-left: 276px;
  background-color: white;
  border-left: 1px solid #ddddde;
}
#appCanvas #chatView #searchWrapper #SearchWrapperInner {
  padding: 12px;
}
#appCanvas #chatView #searchWrapper #SearchWrapperInner h3 {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 10px 0;
}
#appCanvas #chatView .btn-success {
  background-color: #05b09e;
}
#appCanvas #chatView .btn-default {
  border: 1px solid #05b09e;
  color: #05b09e;
}
#appCanvas #networkView {
  padding-top: 20px;
}
#appCanvas #networkView #feedWrapper {
  width: 520px;
  margin: 0 auto;
}
#appCanvas #networkView #feedWrapper.preloading {
  background: url('../img/preloader.gif') no-repeat center bottom;
  padding-bottom: 80px;
  margin-bottom: 20px;
  box-shadow: none;
}
#appCanvas #networkView #feedWrapper .contactWrapper {
  border-top: 1px solid #dcdfde;
  background-color: white;
}
#appCanvas #networkView #feedWrapper .contactWrapper:first-child {
  border-top: none;
}
#appCanvas #networkView #feedWrapper .contactWrapper.preloading {
  background: url(../img/contactPreloading.png) no-repeat center top white;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard {
  padding: 12px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .btn {
  font-size: 12px;
  font-weight: 500;
  padding: 4px 10px;
  margin-top: 0;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .connectedBT {
  margin: 0;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .imgWrapper {
  float: left;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .senderImg.vipImg {
  background-color: #AAA;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .infoWrapper {
  float: left;
  width: 290px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .infoWrapper .head {
  color: #999;
  font-weight: 400;
  font-size: 15px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .infoWrapper .head .contactTitle {
  font-size: 17px;
  color: black;
  display: inline-block;
  padding-right: 10px;
  font-weight: 500;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .infoWrapper .head .about {
  color: black;
  margin: 10px 0 5px;
  display: block;
  font-size: 16px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .infoWrapper .body {
  color: #000;
  font-weight: 400;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .infoWrapper .body .title {
  font-weight: 400;
  color: #999;
  margin-top: 1px;
  font-size: 13px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .infoWrapper .body .network {
  margin-top: 7px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .infoWrapper .body .network .senderImg {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .infoWrapper .body .more_vips {
  color: #999;
  line-height: 28px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown {
  background-color: #0c5ba3;
  vertical-align: middle;
  margin-right: 7px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown.color-blue {
  background-color: #0c5ba3;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown.color-deeppurple {
  background-color: #212142;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown.color-green {
  background-color: #0aa33d;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown.color-orange {
  background-color: #e56005;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown.color-pink {
  background-color: #d65479;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown.color-purple {
  background-color: #2c3e50;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown.color-red {
  background-color: #d32f2f;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown.color-teal {
  background-color: #03b09e;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown.color-lightblue {
  background-color: #127ccc;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown.color-deepred {
  background-color: #a81111;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard .crown.color-yellow {
  background-color: #dda800;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard.profile .imgWrapper {
  float: none;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard.profile .imgWrapper .senderImg {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard.profile .infoWrapper {
  float: none;
  clear: both;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard.profile .infoWrapper .head {
  font-size: 17px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .contactCard.profile .infoWrapper .head .contactTitle {
  font-size: 19px;
  margin-top: 10px;
}
#appCanvas #networkView #feedWrapper .contactWrapper .tabs {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
#appCanvas #networkView #feedWrapper .contactWrapper .tabs .tab {
  border-right: 1px solid #e6e6e6;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  padding: 0;
}
#appCanvas #networkView #feedWrapper .contactWrapper .tabs .tab:last-child {
  border-right: none;
}
#appCanvas #networkView #feedWrapper .contactWrapper .tabs .tab a {
  padding: 10px;
  display: block;
  color: #939393;
}
#appCanvas #networkView #feedWrapper .contactWrapper .tabs .tab a:hover {
  background: #EFEFEF;
  text-decoration: none;
}
#appCanvas #networkView #feedWrapper .contactWrapper.profile3 .tabs .tab.selected a {
  color: #e56005;
}
#appCanvas #networkView #navigation {
  position: fixed;
  right: 50%;
  margin-right: 276px;
  max-width: 268px;
  margin-top: 20px;
  top: 64px;
}
#appCanvas #networkView #navigation .btn {
  margin-top: 0;
}
#appCanvas #networkView #navigation .labelItem {
  display: block;
  min-width: 168px;
  color: black;
  font-size: 15px;
  margin: 1px 0;
  padding: 7px;
  text-indent: 10px;
  text-align: left;
  border-radius: 4px;
  opacity: 0;
  transition: opacity .3s ease;
  text-decoration: none;
  text-transform: initial;
  font-weight: 500;
  color: #999;
  background: url(../img/label_icons.png) no-repeat 3px 100px;
}
#appCanvas #networkView #navigation .labelItem.show {
  opacity: 1;
}
#appCanvas #networkView #navigation .labelItem.selected {
  color: black;
  font-weight: 600;
}
#appCanvas #networkView #searchWrapper {
  position: fixed;
  top: 64px;
  width: 230px;
  left: 50%;
  margin-top: 20px;
  margin-left: 276px;
  background-color: white;
  border-left: 1px solid #ddddde;
}
#appCanvas #networkView #searchWrapper #SearchWrapperInner {
  padding: 12px;
}
#appCanvas #networkView #searchWrapper #SearchWrapperInner h3 {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 10px 0;
}
#appCanvas #networkView .btn-success {
  background-color: #05b09e;
}
#appCanvas #networkView .btn-default {
  border: 1px solid #05b09e;
  color: #05b09e;
}
#appCanvas #feedView #labelsWrapper {
  position: fixed;
  left: 0;
  max-width: 268px;
  top: 64px;
}
#appCanvas #feedView #labelsWrapper .labelItem {
  display: block;
  min-width: 168px;
  color: black;
  font-weight: 500;
  font-size: 13px;
  margin: 10px;
  padding: 7px;
  text-indent: 40px;
  text-align: left;
  border-radius: 4px;
  opacity: 0;
  transition: opacity .3s ease;
  text-decoration: none;
  text-transform: initial;
  background: url(../img/label_icons.png) no-repeat 3px 100px;
}
#appCanvas #feedView #labelsWrapper .labelItem.show {
  opacity: 1;
}
#appCanvas #feedView #labelsWrapper .labelItem.selected {
  background-color: #d8e2eb;
}
#appCanvas #feedView #labelsWrapper .labelItem.label-inbox {
  background-position: 3px 7px;
}
#appCanvas #feedView #labelsWrapper .labelItem.label-vip {
  background-position: 3px -46px;
}
#appCanvas #feedView #labelsWrapper .labelItem.label-later {
  background-position: 3px -92px;
}
#appCanvas #feedView #labelsWrapper .labelItem.label-category_social {
  background-position: 3px -138px;
}
#appCanvas #feedView #labelsWrapper .labelItem.label-category_promotions {
  background-position: 3px -184px;
}
#appCanvas #feedView #labelsWrapper .labelItem.label-unread {
  background-position: 3px -230px;
}
#appCanvas #feedView #labelsWrapper .labelItem.label-sent {
  background-position: 3px -276px;
}
#appCanvas #feedView #labelsWrapper .labelItem.label-archived {
  background-position: 3px -322px;
}
#appCanvas #feedView #labelsWrapper .labelItem.label-outbox {
  background-position: 3px -368px;
}
#appCanvas #feedView #mainWrapper {
  width: 765px;
  margin: 0 auto;
  /********* the feed*/
}
#appCanvas #feedView #mainWrapper #feedWrapper {
  padding: 10px 0;
  /****** the card */
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper {
  border-radius: 2px;
  width: 100%;
  min-height: 300px;
  margin: 0px 0px 15px;
  background: white;
  overflow: hidden;
  transition: min-height 0.5s ease-in-out;
  /********** states*/
  /******** card types*/
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.preloading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/cardPreloading.png) no-repeat center top white;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.preloading .spinner {
  width: 90px;
  height: 90px;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.preloading .spinner svg {
  animation: rotate 1.5s linear infinite;
  height: 100%;
  width: 100%;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.preloading .spinner circle {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite 0s, color 6s ease-in-out infinite -0.75s;
  stroke-linecap: round;
  fill: none;
  stroke-width: 3;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1DA760;
  }
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.populated {
  min-height: 0;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.populated img {
  height: auto !important;
  max-width: 100% !important;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.populated .gmail_extra {
  display: none;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.populated .gmail_signature {
  display: none;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner {
  padding: 17px 17px 1px;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardHeader {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  position: relative;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardHeader .icon-3dots {
  width: 15px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
  text-indent: 100px;
  background: url("../img/3dots.png") no-repeat center right transparent;
  background-image: url("../img/3dots_black.png");
  opacity: .25;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardHeader .icon-3dots:hover {
  opacity: .4;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardHeader .msgInfo {
  float: left;
  width: 90%;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardHeader .msgInfo .text {
  font-size: 15px;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardHeader .threadN {
  background: url("../img/thread_n.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  font-weight: 600;
  height: 34px;
  line-height: 28px;
  margin: 10px auto -30px;
  position: relative;
  text-align: center;
  width: 34px;
  color: #777;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardHeader .msgExtraInfo {
  position: absolute;
  top: 0;
  right: 0px;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardHeader .text .fromTo {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #121212;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardHeader .text .fromTo .fromLink {
  font-weight: 500;
  color: #121212;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardHeader .text .fromTo .toList {
  font-weight: 500;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardHeader .text .subject {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody {
  padding: 20px 0px;
  font-size: 15px;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .snippet {
  font-weight: 400;
  padding-left: 47px;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .secRead {
  display: none;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .messageAttchment {
  margin: 10px 0 0 50px;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .embedlyBody {
  /*margin-left:55px;*/
  font-weight: 400;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .embedlyBody .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .embedlyBody .imgWrapper {
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .embedlyBody .imgWrapper img {
  display: none;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .embedlyBody .contentWrapper {
  background-color: #f2f2f2;
  min-height: 150px;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .embedlyBody .contentWrapper h3 {
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .embedlyBody .siteLink {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  padding: 10px 0px;
  font-size: 13px;
  color: #989898;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .embedlyBody .snippet {
  margin: 15px 0;
  padding: 0;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardBody .youtubeWrapper .contentWrapper h3 {
  font-size: 17px;
  font-weight: 600;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardAtts .galleryPreview {
  height: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardAtts .galleryPreview .galleryItems {
  display: none;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardAtts .galleryPreview .itemsCounter {
  font-size: 23px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardFooter .actions {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardFooter .actions .btn {
  color: #66666;
  font-size: 11px;
  padding: 2px 5px;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardFooter .replies .replyToBT {
  background: url("../img/replyTo_white.png") no-repeat 5px center transparent;
  color: #666666;
  font-size: 13px;
  text-transform: initial;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardFooter .replies .thumbsUpBT {
  background-image: url("../img/thumbsUp_dark.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  /*                                background-size: 75%;*/
  float: right;
  height: 32px;
  width: 32px;
  margin: 14px 6px;
  opacity: 1;
  padding: 2px;
  border-radius: 50%;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner .cardFooter .replies .thumbsUpBT:hover {
  background-color: rgba(0, 0, 0, 0.05);
  /*                                    opacity:.8;*/
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner.readMore .cardBody {
  /*padding-left:55px;*/
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner.readMore .secRead {
  display: inline-block;
  padding-top: 10px;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner.readMore .secRead a {
  color: #888;
  font-size: 15px;
  text-decoration: none;
  font-weight: 400;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner.threadLess .cardHeader {
  border-bottom: 0;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner.threadLess .cardBody.embedlyBody .snippet {
  margin: 15px 0;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper .cardInner.threadLess .messageAttchment {
  margin: 10px 0 0 0;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored {
  color: white;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored .cardInner .icon-3dots {
  background-image: url("../img/3dots_white.png");
  opacity: .5;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored .cardInner .icon-3dots:hover {
  opacity: .9;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored .cardInner .cardHeader {
  border-bottom: 0;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored .cardInner .cardHeader .text .fromTo {
  color: white;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored .cardInner .cardHeader .text .fromTo .fromLink {
  color: white;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored .cardInner .cardHeader .threadN {
  display: none;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored .cardInner .cardBody {
  padding: 6px 0px 12px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored .cardInner .cardFooter .actions {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored .cardInner .cardFooter .actions .btn {
  color: white;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored .cardInner .cardFooter .replies .replyToBT {
  background: url("../img/replyTo_color.png") no-repeat 5px center transparent;
  color: white;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored .cardInner .cardFooter .replies .thumbsUpBT {
  background-image: url("../img/thumbsUp_white.png");
  opacity: 0.4;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor {
  background: #a81111;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-j,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-y,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-i,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-g {
  background: #0c5ba3;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-r,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-x {
  background: #2e2e54;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-d,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-u,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-f {
  background: #0aa33d;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-m,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-q,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-a {
  background: #e56005;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-o,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-p,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-c {
  background: #2c3e50;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-w,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-v,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-k,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-t {
  background: #03b09e;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-s,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-n,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-l,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-b {
  background: #127ccc;
}
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-h,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-z,
#appCanvas #feedView #mainWrapper #feedWrapper .cardWrapper.card-colored.cardColor-e {
  background: #dda800;
}
#appCanvas #feedView #mainWrapper #columnWrapper {
  background: url('../img/later_mockup.png') no-repeat 10px 5px transparent;
  left: 50%;
  margin-left: 123px;
  position: fixed;
}
#appCanvas #feedView #vipWrapper {
  position: fixed;
  top: 64px;
  width: 200px;
  right: 0;
  background: url('../img/vip_mockup.png') no-repeat left top transparent;
  border-left: 1px solid #ddddde;
}
#appCanvas .senderImg {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
  background-size: cover;
  overflow: hidden;
  border-radius: 2px;
}
#appCanvas .senderImg.noImage {
  background: #03B09E;
}
#appCanvas .senderImg.noImage.bgColor-j,
#appCanvas .senderImg.noImage.bgColor-y,
#appCanvas .senderImg.noImage.bgColor-i,
#appCanvas .senderImg.noImage.bgColor-g {
  background: #0c5ba3;
}
#appCanvas .senderImg.noImage.bgColor-r,
#appCanvas .senderImg.noImage.bgColor-x {
  background: #2e2e54;
}
#appCanvas .senderImg.noImage.bgColor-d,
#appCanvas .senderImg.noImage.bgColor-u,
#appCanvas .senderImg.noImage.bgColor-f {
  background: #0aa33d;
}
#appCanvas .senderImg.noImage.bgColor-m,
#appCanvas .senderImg.noImage.bgColor-q,
#appCanvas .senderImg.noImage.bgColor-a {
  background: #e56005;
}
#appCanvas .senderImg.noImage.bgColor-o,
#appCanvas .senderImg.noImage.bgColor-p,
#appCanvas .senderImg.noImage.bgColor-c {
  background: #2c3e50;
}
#appCanvas .senderImg.noImage.bgColor-w,
#appCanvas .senderImg.noImage.bgColor-v,
#appCanvas .senderImg.noImage.bgColor-k,
#appCanvas .senderImg.noImage.bgColor-t {
  background: #03b09e;
}
#appCanvas .senderImg.noImage.bgColor-s,
#appCanvas .senderImg.noImage.bgColor-n,
#appCanvas .senderImg.noImage.bgColor-l,
#appCanvas .senderImg.noImage.bgColor-b {
  background: #127ccc;
}
#appCanvas .senderImg.noImage.bgColor-h,
#appCanvas .senderImg.noImage.bgColor-z,
#appCanvas .senderImg.noImage.bgColor-e {
  background: #dda800;
}
/*MATERIAL OVERRIDE*/
.shadow-z-1 {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
/*=================================== new styles ==============================================*/
.hidden {
  display: none;
}
.visible {
  display: block;
}
.ui-autocomplete-input {
  z-index: 1511;
}
.ui-autocomplete {
  z-index: 1051 !important;
}
article {
  height: 100%;
  position: relative;
}
.fullHeight {
  height: 100%;
}
#wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 64px;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}
#wrapper #sidebar {
  position: absolute;
  left: -300px;
  background: #465056;
  width: 300px;
  box-sizing: border-box;
}
#wrapper #sidebar .header-left-menu-xs {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: black;
}
#wrapper #sidebar .header-left-menu-xs .top-navigation {
  padding: 6px 8px;
  background: #313638;
}
#wrapper #sidebar .header-left-menu-xs .top-navigation a {
  position: relative;
  margin-left: 9px;
  display: inline-block;
  text-align: center;
  color: #fff;
  opacity: .5;
}
#wrapper #sidebar .header-left-menu-xs .top-navigation a .logo-xs {
  width: 44px;
  height: auto;
  position: absolute;
  top: 0;
  display: inline-block;
}
#wrapper #sidebar .header-left-menu-xs .top-navigation a span {
  display: inline-block;
  font-size: 22px;
  margin-bottom: 5px;
}
#wrapper #sidebar .header-left-menu-xs .top-navigation a p {
  font-size: 12px;
  margin: 0;
}
#wrapper #sidebar .header-left-menu-xs .top-navigation a:first-child {
  margin-left: 0;
}
#wrapper #sidebar .header-left-menu-xs .top-navigation a:hover {
  text-decoration: none;
  opacity: 1;
}
#wrapper #sidebar .header-left-menu-xs .add-channel-block {
  display: block;
  padding: 3px 8px;
  background: #465056;
  line-height: 40px;
  color: #fc8060;
  font-size: 14px;
  border-bottom: 1px solid #5c656b;
  transition: 400ms all ease;
}
#wrapper #sidebar .header-left-menu-xs .add-channel-block:hover {
  color: #ff3000;
  text-decoration: none;
  transition: 400ms all ease;
}
#wrapper #sidebar ul li {
  margin: 0;
}
#wrapper #sidebar ul li a {
  padding: 12px 8px;
  font-size: 14px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #5c656b;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
#wrapper #sidebar ul li a p {
  margin: 0 0 5px 0;
}
#wrapper #sidebar ul li a p .badge_custom {
  width: 18px;
  height: 18px;
  float: right;
  background: #ff3000;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
}
#wrapper #sidebar ul li a img {
  display: inline-block;
  margin-right: 2px;
  border-radius: 50%;
  border: none;
}
#wrapper #sidebar ul li:hover a {
  background: #333333;
}
#wrapper .main-content {
  width: 100%;
  height: 100%;
  position: relative;
}
#wrapper .main-content #sidebar-toggle {
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 10px 7px;
  float: left;
}
#wrapper .main-content #sidebar-toggle .bar {
  display: block;
  width: 18px;
  margin-bottom: 3px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}
#wrapper .main-content #sidebar-toggle .bar:last-child {
  margin-bottom: 0;
}
.custom-nav {
  padding: 5px;
  height: 64px;
  background: #e6e6e6 !important;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.custom-nav .navbar-header_padding {
  padding: 5px;
}
.custom-nav .navbar-header_padding .navbar-brand-img {
  color: #ff3000;
  font-size: 30px;
  line-height: 44px;
}
.custom-nav .navbar-header_padding .navbar-brand-img img {
  max-width: 100px;
  max-height: 28px;
  margin-bottom: 5px;
}
.custom-nav .navbar-header_padding .navbar-brand-img:hover {
  text-decoration: none;
}
.custom-nav .header-navbar > .active > a {
  background: transparent !important;
  color: #ff3000 !important;
}
.custom-nav .header-navbar a {
  min-width: 90px;
  padding: 4px 15px !important;
  text-align: center;
  font-size: 12px;
  color: #c4c4c4 !important;
  border-left: 1px solid #c4c4c4;
}
.custom-nav .header-navbar a .chat-icon {
  width: 33px;
  height: auto;
  margin-bottom: 6px;
}
.custom-nav .header-navbar a .chat-icon:hover {
  color: #ff3000;
}
.custom-nav .header-navbar a .ico,
.custom-nav .header-navbar a .fa {
  font-size: 23px !important;
}
.custom-nav .header-navbar a p {
  margin: -3px 0 0;
}
.custom-nav .header-navbar a:hover,
.custom-nav .header-navbar a:active,
.custom-nav .header-navbar a .active {
  background: transparent !important;
  color: #ff3000 !important;
}
.custom-nav .header-navbar .header-search-md {
  font-size: 20px;
  line-height: 44px;
}
.custom-nav .navbar-right_custom .ico-setting {
  float: left;
  line-height: 20px;
  margin-right: 5px;
}
.custom-nav .navbar-right_custom .colorBlack {
  color: #000000;
  float: right;
}
.left-side-menu_wrap {
  padding: 0 !important;
  background: #535459;
}
.left-side-menu_wrap .left-side-menu {
  background: transparent;
}
.left-side-menu_wrap .left-side-menu li {
  margin: 0;
}
.left-side-menu_wrap .left-side-menu li a {
  padding: 12px 20px;
  font-size: 16px;
  letter-spacing: .3px;
  font-weight: normal;
  color: white;
  display: block;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.left-side-menu_wrap .left-side-menu li a .ico-new-channel {
  font-size: 22px;
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 50%;
}
.left-side-menu_wrap .left-side-menu li a .fa {
  font-size: 22px;
  margin-right: 5px;
}
.left-side-menu_wrap .left-side-menu li:hover a {
  background: #333;
  text-decoration: none;
  font-weight: bold;
}
.left-side-menu_wrap .left-side-menu li:hover a .ico-new-channel {
  background: #fff;
  color: #535459;
}
.content {
  position: relative;
  height: 100%;
  padding: 0 !important;
}
.content .message-box-wrap {
  margin-bottom: 100px;
  box-sizing: border-box;
  padding: 0 5px 5px 5px;
  position: relative;
  overflow-y: auto;
  max-height: 84%;
}
.content .message-box-wrap .message-box {
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 0;
}
.content .message-box-wrap .message-box .message-content-wrap {
  padding: 0 !important;
}
.content .message-box-wrap .message-box .message-content-wrap .news-btn {
  margin: 10px auto;
  min-width: 120px;
  max-width: 120px;
  width: 100%;
  display: block;
  border: 1px solid #cbcbcb;
  background: #fff;
  color: #ff3000;
  font-size: 16px;
  transition: 400ms all ease;
}
.content .message-box-wrap .message-box .message-content-wrap .news-btn:hover {
  color: #fff;
  background: #ff3000;
  transition: 400ms all ease;
}
.content .message-box-wrap .message-box .message-icon-wrap {
  padding-right: 0;
  padding-left: 0;
}
.content .message-box-wrap .message-box .message-icon-wrap .message-icon {
  position: relative;
  padding-left: 20px;
}
.content .message-box-wrap .message-box .message-icon-wrap .message-icon img {
  border-radius: 50%;
}
.content .message-box-wrap .message-box .message-icon-wrap .message-icon .badge_custom {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -4px;
  right: -4px;
  border: 4px solid #fff;
  border-radius: 50%;
}
.content .message-box-wrap .message-box .message-icon-wrap .message-icon .online {
  background: #9fe860;
}
.content .message-box-wrap .message-box .heading {
  font-size: 16px;
  color: #000000;
  display: block;
  margin-bottom: 5px;
}
.content .message-box-wrap .message-box .heading .crown-icon {
  height: 13px;
  width: 16px;
  line-height: 18px;
}
.content .message-box-wrap .message-box .heading .turquoise {
  color: #03af9d;
}
.content .message-box-wrap .message-box .heading .brown {
  color: #a67c52 !important;
}
.content .message-box-wrap .message-box .heading .blue {
  color: #127ccc;
}
.content .message-box-wrap .message-box .heading .date {
  font-size: 14px;
  color: #999999;
}
.content .message-box-wrap .message-box .heading:hover {
  text-decoration: none;
}
.content .message-box-wrap .message-box .content-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
}
.content .message-box-wrap .message-box .content-text .content-img {
  display: inline-block;
}
.content .message-box-wrap .message-box .fullWidthImg {
  width: 100%;
  height: auto;
  max-width: 485px;
}
.content .send-message-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f7f7f7;
  padding-bottom: 29px;
  padding-top: 29px;
}
.content .send-message-form .send-message-btn {
  padding: 0 !important;
}
.content .send-message-form .send-message-btn .up-arrow {
  height: auto;
  width: 40px;
}
.content .send-message-form .input-group {
  padding-right: 8px;
  padding-left: 8px;
}
.content .send-message-form .input-group input {
  height: 40px;
  padding: 10px;
  border-right: transparent !important;
}
.content .send-message-form .input-group .input-group-addon {
  background: #fff !important;
  border-left: transparent !important;
  color: #cbcbcb;
  font-size: 18px;
}
.content .send-message-form .input-group .input-group-addon .mike-icon {
  width: 15px;
  height: auto;
  border-left: transparent !important;
}
.content .send-message-form .input-group .mike-icon-wrap {
  border-right: transparent !important;
}
.content .send-message-form-xs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f7f7f7;
  padding: 20px 10px 0 10px;
}
.content .send-message-form-xs input {
  height: 40px;
  padding: 10px;
}
.content .send-message-form-xs .nav-icons span {
  line-height: 40px;
  font-size: 18px;
  color: #c4c4c4;
}
.content .send-message-form-xs .nav-icons .pull-left img:first-child {
  margin-right: 20px;
  float: left;
}
.content .send-message-form-xs .nav-icons .mike-icon {
  margin-top: 10px;
  width: 15px;
  height: auto;
}
.content .send-message-form-xs .nav-icons .imgs-icon {
  margin-top: 10px;
  width: 22px;
  height: auto;
}
.right-side-menu_wrap {
  border-left: 1px solid #e6e6e6;
  height: 100%;
}
.right-side-menu_wrap .right-side-menu_header {
  border-bottom: 1px solid #e6e6e6;
  font-size: 16px;
  margin-top: 10px;
}
.right-side-menu_wrap .right-side-menu_header .subheader {
  color: #999999;
}
.right-side-menu_wrap .right-side-menu_header .tab-links {
  margin-bottom: 10px;
}
.right-side-menu_wrap .right-side-menu_header .tab-links a {
  display: inline-block;
  padding: 5px 10px;
  color: #999999;
}
.right-side-menu_wrap .right-side-menu_header .tab-links a:first-child {
  border-right: 1px solid #e6e6e6;
}
.right-side-menu_wrap .right-side-menu a {
  display: block;
  padding: 10px 0;
  font-size: 16px;
  line-height: 43px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
.right-side-menu_wrap .right-side-menu a:hover {
  text-decoration: none;
}
.right-side-menu_wrap .right-side-menu a .right-menu_face-icons {
  float: left;
  position: relative;
  margin-right: 10px;
}
.right-side-menu_wrap .right-side-menu a .right-menu_face-icons img {
  border-radius: 50%;
}
.right-side-menu_wrap .right-side-menu a .right-menu_face-icons .badge_custom {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -4px;
  right: -4px;
  border: 4px solid #fff;
  border-radius: 50%;
}
.right-side-menu_wrap .right-side-menu a .right-menu_face-icons .online {
  background: #9fe860;
}
.right-side-menu_wrap .right-side-menu a .right-menu_face-icons .busy {
  background: #f4bc1c;
}
#add-channel .modal-header {
  background: #ff4200;
  border-radius: 5px 5px 0 0;
}
#add-channel .modal-header .modal-title {
  text-align: center;
  color: #fff;
}
#add-channel .modal-body {
  /*input {
            line-height: 40px !important;
            padding: 10px !important;
        }*/
}
#add-channel .modal-body .add-name-wrap {
  margin-bottom: 30px;
}
#add-channel .modal-body .add-name-wrap #add-name {
  height: 40px;
}
#add-channel .modal-body .search-members-label {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}
#add-channel .modal-body .search-members-wrap {
  padding: 0 0 10px 0;
}
#add-channel .modal-body .search-members-wrap #search-members {
  width: 100%;
  height: 40px;
}
#add-channel .modal-body .modal-add-btn {
  color: #000000;
  display: block;
  padding: 10px 0;
  font-size: 16px;
}
#add-channel .modal-body .modal-add-btn .ico-add_custom {
  font-size: 14px;
  border-radius: 50%;
  color: #fff;
  background: #ff4200;
  padding: 5px;
  transition: 400ms all ease;
}
#add-channel .modal-body .modal-add-btn:hover {
  color: #ff4200;
  background: #fff;
  text-decoration: none;
  transition: 400ms all ease;
}
#add-channel .modal-body .alert-default {
  margin-bottom: 0;
  padding-left: 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
#add-channel .modal-body .alert-default .choose-face-icon {
  display: block;
  margin-right: 10px;
}
#add-channel .modal-body .alert-default .alert-content {
  display: inline-block;
}
#add-channel .modal-body .alert-default .alert-content .heading {
  margin: 0;
  font-size: 16px;
  color: #000000;
}
#add-channel .modal-body .alert-default .alert-content .heading .crown-icon {
  height: 13px;
  width: 16px;
  line-height: 18px;
  display: inline-block;
  margin-right: 5px;
}
#add-channel .modal-body .alert-default .alert-content .heading .turquoise {
  color: #03af9d;
}
#add-channel .modal-body .alert-default .alert-content .subheading {
  margin: 0;
  color: #c2c2c2;
  font-size: 15px;
}
#add-channel .modal-body .modal-notifications-block {
  margin-top: 15px;
  padding: 10px 5px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
#add-channel .modal-body .modal-notifications-block .modal-notifications-block_text {
  line-height: 32px;
  font-size: 16px !important;
}
#add-channel .modal-body .modal-notifications-block .modal-notifications-block_text span {
  color: #adadad;
  margin-left: 30px;
}
#add-channel .modal-footer {
  border-top: none !important;
}
#add-channel .modal-footer .btn-orange {
  color: #fff;
  background: #ff4200;
  transition: 400ms all ease;
}
#add-channel .modal-footer .btn-orange:hover {
  color: #ff4200;
  background: #fff;
  transition: 400ms all ease;
  border: 1px solid #e6e6e6;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .input-group {
    padding-left: 0 !important;
  }
  .message-icon {
    padding-left: 7px !important;
  }
}
@media screen and (max-width: 767px) {
  #wrapper {
    padding-top: 99px;
  }
  .custom-nav {
    height: auto !important;
  }
  .navbar-header_padding {
    float: left;
    width: auto !important;
  }
  .navbar-right_custom {
    float: right;
    width: auto !important;
  }
  .navbar-search {
    background: transparent !important;
    margin: 0;
  }
  .navbar-search .navbar-form_custom {
    margin: 0 !important;
    padding: 0 !important;
    border-top: transparent !important;
    border-bottom: transparent !important;
  }
  .navbar-search .navbar-form_custom .form-group {
    width: 100% !important;
  }
  .xs-header-text {
    font-size: 24px;
    line-height: 54px;
    text-align: center;
  }
  #wrapper.open-sidebar {
    left: 300px;
  }
}
@media screen and (max-width: 400px) {
  .message-icon {
    padding-left: 0 !important;
  }
  .message-box-wrap {
    max-height: 75% !important;
  }
  .send-message-form-xs {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    padding: 20px 10px 0 10px !important;
  }
  .send-message-form-xs .nav-icons {
    padding: 0 10px;
  }
  .send-message-form-xs input {
    padding: 10px;
  }
}
@media screen and (max-width: 320px) {
  .send-message-form-xs {
    bottom: 35px;
  }
}
